@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Cairo');

body {
}
header h1 {
	font-size: 25px;
}
ul {
	list-style: none;
}

li {
	
		
	margin-left: 10px;
}

#fundo-cabecalho {
	background-color: black;
}
#cabecalho a {
	color: white;
}

#cabecalho h1 {
	font-family: 'Kaushan Script', cursive;
	color: white;
}
.block {
	display: block;

}
.text-center {
	text-align: center;
}

#apresentacao p {
	font-size: 20px;
}

.flexbox-end {
	display: flex;
	justify-content: flex-end;
}
.text-justify {
	text-align: justify;
}
.centralizar {
	display: flex;
	justify-content: center;
}
#rodape {
	padding: 5px;
}
.negrito {
	font-weight: bolder;
}
.naoQuebrarLinha {
	white-space: nowrap;
}
.font-cairo {
	font-family: 'Cairo', sans-serif
}

footer li {
	margin-right: 40px;
}

@media (max-width: 767px) {
	#info p {
		text-align: center;
		word-spacing: 4px;
	}
	#apresentacao h1 {
		text-align: center;
	}
}
